/* ---- reset ---- */

html {
    box-sizing: border-box;
    background-color:transparent;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    padding-top: px;
    font-size: 60px;
    color: #323648; 

}

body {
    margin: 0;
    padding: 10px;
    font-family: Georgia, Times;
}

h2{
    color: #323648; 
}

img{
    max-width: 100%;
}

a.login {
     text-decoration: none;
     color: #3f46ad;
     font-family: 'Times New Roman';
     font-weight: bold;
}

p{
    line-height: 1.5;
    padding-bottom: 15px;
    padding-top: 15px;
}

/* ---- layout ---- */

.container{
    margin:0 20px 0 20px;
}

div.container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* ---- header ---- */
header.header{
    position: fixed;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding-top: 5px;
    left: 0;
    top: 0;
    background: #fff;
    box-shadow: (0,0,0,.15);
}

header .nav-bar ul{
    display: none;
}


header .slack-logo{
    width: 130px;
    padding-top: 5px;
    
}

header .border-menu{
    width: 30px;
    
}

/* ---- section ---- */

section.intro{
    margin-top: 80px;
}

.link-button {
    margin-top: 30px;
    background-color:#3f46ad;
    color: white;
    letter-spacing: 0.1em;
    text-decoration: none;
    display: block;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 19px 40px 20px; border-radius: 10px;
    }
    
p .feature {
    font-family: sans-serif;
    }

